.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

ul {
    display: flex;

}

li {
    list-style: none;
    margin: 0 20px;
}

.card {
    display: flex;
    margin: 100px 200px;
    justify-content: space-between;
}

img {
    width: 480px;
    height: 250px;
}

.image-section {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
}

.item {
    width: 200px;
    height: 200px;
}