body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

a, .hero-text  {
    font-size: 18px;
    color: #E5E7EB;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information-text {
    color: #1F2937;
}

button, .sub-card {
    background-color: #3882F6;
}

.card-button {
    border: #1F2937 solid 1px;
    border-radius: 5px;
    color: #E5E7EB;
    font-weight: 900;
    margin: 25px 25px;
    margin-left: 0;
    padding: 15px 25px;
    text-align: left;
    box-shadow: .75px .75px black
}

.card-section {
    background-color: #1F2937;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: -100px;
    padding-bottom: 100px;
    padding-top: 100px; 
    overflow-x: hidden;
}

.card {
    padding-bottom: 50px;
    padding-top: 75px;
}

ul {
    display: flex;

}

li {
    list-style: none;
    margin: 0 20px;
}

.card {
    display: flex;
    margin: 100px 200px;
    justify-content: space-between;
}

img {
    width: 480px;
    height: 250px;
}

.image-section {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
}

.item {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

h2 {
    margin: 50px 0;
}

.quote {
 
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-right: -100px;
    background-color: #E5E7EB;
    padding: 120px 100px;
}

.phrase, .source {
    text-align: left;
    margin: 50px 200px;
    
}

.phrase {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;;
}

.source {
    color: #1F2937;
    font-weight: 900;
    text-align: right;
    font-size: 24px;
}
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sub-card {
    display: flex;
    justify-content: center;
    margin: 50px 200px;
    padding: 20px 80px;
    /*border: 2px solid black;*/
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 10px;
    padding: 60px 80px;
    margin: 120px 180px;

}

.sub-text {
    margin-right: 125px; 
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: -100px;
    overflow-y: hidden;
    color: #E5E7EB;
}

.sub-button {
    border: #E5E7EB solid 1px;
    border-radius: 5px;
    color: #E5E7EB;
    font-weight: bold;
    margin: 25px 25px;
    padding: 0 25px;
    box-shadow: .75px .75px #E5E7EB;

}