body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.card-section {
    background-color: #1F2937;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: -100px;
    padding-bottom: 100px;
    padding-top: 100px; 
    overflow-x: hidden;
}

.card {
    padding-bottom: 50px;
    padding-top: 75px;
}

ul {
    display: flex;

}

li {
    list-style: none;
    margin: 0 20px;
}

.card {
    display: flex;
    margin: 100px 200px;
    justify-content: space-between;
}

img {
    width: 480px;
    height: 250px;
}

.image-section {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
}

.item {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

h2 {
    margin: 50px 0;
}

.quote {
 
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: -100px;
    margin-right: -100px;
    background-color: #E5E7EB;
}

.phrase {
    text-align: left;
    margin: 50px 200px;
}

.source {
    text-align: right;
    margin: 50px 200px;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sub-card {
    display: flex;
    justify-content: center;
    margin: 50px 200px;
    padding: 20px 80px;
    border: 2px solid black;

}

.sub-text {
    margin-right: 125px; 
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: -100px;
    overflow-y: hidden;
}